[submodule "cs/cs_theory"]
	path = cs/cs_theory
	url = https://github.com/krishnaa423/cs-theory-notes.git
[submodule "cs/egnn_qm9"]
	path = cs/egnn_qm9
	url = https://github.com/krishnaa423/egnn-qm9.git
[submodule "cs/ros2_turtlebot_sim"]
	path = cs/ros2_turtlebot_sim
	url = https://github.com/krishnaa423/ros2-turtlebot-sim.git
[submodule "ee/ee_theory"]
	path = ee/ee_theory
	url = https://github.com/krishnaa423/ee-theory-notes.git
[submodule "ee/ai_accelerator"]
	path = ee/ai_accelerator
	url = https://github.com/krishnaa423/ai-accelerator-verilog.git
[submodule "math/math_theory"]
	path = math/math_theory
	url = https://github.com/krishnaa423/math-theory-notes.git
[submodule "physics/physics_theory"]
	path = physics/physics_theory
	url = https://github.com/krishnaa423/physics-theory-notes.git
[submodule "physics/dolfinx"]
	path = physics/dolfinx
	url = https://github.com/krishnaa423/dolfinx-pn-junction.git
[submodule "physics/meep_ring_resonator"]
	path = physics/meep_ring_resonator
	url = https://github.com/krishnaa423/meep-ring-resonator.git
[submodule "physics/first_principles_lif"]
	path = physics/first_principles_lif
	url = https://github.com/krishnaa423/first-principles-lif.git
[submodule "resume_cv"]
	path = resume_cv
	url = https://github.com/krishnaa423/resume-cv.git
[submodule "personal-website"]
	path = personal-website
	url = https://github.com/krishnaa423/personal-website.git
[submodule "cs/agentic_bgw"]
	path = cs/agentic_bgw
	url = https://github.com/krishnaa423/agentic-bgw.git
[submodule "ee/robotic-hand-eeg"]
	path = ee/robotic-hand-eeg
	url = https://github.com/krishnaa423/robotic-hand-eeg.git
